@import "../style/theme.scss";


.results-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .overview-section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $main-pink;
    color: white;

    > * {
        margin: 30px;
    }
    
    }
}

.result-container {
    display: flex;
    justify-content: center;
    width: 100%;

    > * {
        text-align: center;
       
    }  

    
    > span {
        margin: 20px;
    }


}

